<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <a class="hamburger" href="#"> <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
      </ul>
    </div>

    <a class="navbar-brand" routerLink=""><h2>bon appetit</h2></a>

    <div class="nav navbar-nav navbar-right">
      <a href="#">login</a>
    </div>

  </div>
</nav>



<!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="center">
      <a routerLink=""><h2>bon appetit</h2></a>
    </div>
    <div class="navbar-nav ml-auto">
      <a href="#">login</a>
    </div>

  </div>
</nav> -->

<div class="container">
  <h2>{{title}}</h2>
  <router-outlet></router-outlet>
</div>


<a routerLink="admin">admin router link</a>
