.navbar.navbar-default {
  background: black;
}

.navbar-text.navbar-right a {
  color: white;
}

.navbar-text.navbar-right {
  position: absolute;
  top: 0;
  right: 5rem;
  display: block;
  height: 5rem;
  color: #fff;
  list-style-type: none;
}

.navbar-text.navbar-right li a:hover {
  text-decoration: none;
  cursor: default;
}

.navbar-text.navbar-left a {
  color: white;
}

.navbar.center .navbar-inner {
  display: block;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  width: 115px;
}
