.navbar.navbar-default {
  /* background: black; */
}

.navbar * {
  border: solid black;
}

.navbar-text.navbar-right a {
  color: black;
}

.navbar-text.navbar-left a {
  color: black;
}

.navbar-inner ul li a {
  color: black;
}

.navbar-inner {
  float: none;
  display:inline-block;
  vertical-align: middle;
  height: 50px;
  align-items: center;
}

.navbar-inner .nav {

}
