.navbar.navbar-default.navbar-static-top {
  background: black;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar.navbar-default.navbar-static-top a {
  color: white;
  margin: auto 0;
}
